<div *ngIf="formGroup" style="border: solid black 1px; padding:25px; border-radius:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div *ngIf="table.title">
        <h3>{{ getLocalizedString$(table.title) | async }}</h3>
        <hr>
    </div>
    <div *ngIf="table.actionButtons.length > 0">
        <pattern-button [button]="actionButton" *ngFor="let actionButton of table.actionButtons"></pattern-button>
    </div>
    <table [id]="table.id" class="table table-bordered table-hover mt-3">
        <thead>
            <th *ngFor="let column of table.columns">
                {{ getLocalizedString$(column.title) | async }}
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let row of table.rows">
                <td *ngFor="let data of row.data">
                    <div [ngSwitch]="data.type">
                        <div *ngSwitchCase="tableElementType.TEXT">
                            <!-- {{ getLocalizedString$(data.data) | async }} -->
                              {{data.data}}
                        </div>
                        <div *ngSwitchCase="tableElementType.ELEMENT">
                            <pattern-element [formGroup]="formGroup" [element]="data.data"
                                *ngIf="formGroup.get(data.data.id)"></pattern-element>
                        </div>
                        <div *ngSwitchCase="tableElementType.BUTTON">
                            <pattern-button [button]="data.data" (clickListener)="data.event($event)"></pattern-button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>